body {
  margin: 0px;
  padding: 0px;
}

section.intro {
  background-color: #FEF2E7;
  background-image: url('images/ed-background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1, h2 {
  margin-top: 0px;
  padding-top: 25px;
  font-family: 'Noto Serif', serif;
}

.intro .headline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #8f7878;
  margin-top: 50px;
}

.headline h1 {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}

.headline h2 {
  text-align: center;
  margin-top: -70px;
  color: white;
  text-shadow: 2px 2px lightgray;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.lp-logo {
  width: 150px;
  padding: 15px 20px;
}

button {
  background-color: #FFF3EA;
  color: #8f7878;
  border: 5px solid #8f7878;
  border-radius: 4px;
  box-shadow: 2px 2px white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8f7878;
  color: #FEF0E4;
  border: 5px solid #FEF0E4;
  border-radius: 4px;
}

.intro button {
  margin-right: 100px;
  margin-top: 100px;
}

.date {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.date h3 {
  background-color: #8f7878;
  background-clip: border-box;
  color: white;
  padding: 20px 0px;;
  width: 70%;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px 0px 0px 10px;
  letter-spacing: 5px;
  font-family: 'Noto Serif', serif;
  font-size: 24px;
}

/* MOBILE INTRO SECTION */

@media (max-width: 700px) {

  section.intro {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .intro .headline {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
  }


  .headline h1 {
    font-size: 42px;

  }

  .headline h2 {
    text-align: center;
    margin-top: -40px;
  }

  .lp-logo {
    width: 150px;
    padding: 15px 20px;
  }

  button {
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }

  .intro button {
    margin-right: 20px;
    margin-top:  20px;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .date h3 {
    padding: 20px 0px;;
    width: 90%;
    margin: 0px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 24px;
  }

}

/*  END MOBILE FOR INTRO */

section.details {
  background-color: #D6DFD8;
  color: #293134;
}

.details h2 {
  text-align: center;
  padding: 50px;
  padding-top: 75px;
  font-size: 48px;
  color: #293134;
}

@media (max-width: 700px) {

  .details h2 {
    text-align: center;
    padding: 20px;
    padding-top: 75px;
    font-size: 36px;
    color: #293134;
  }

}

.details h3 {
  background-color: #8f7878;
  background-clip: border-box;
  color: white;
  padding: 20px;
  padding-left: 100px;
  width: 40%;
  margin: 20px 0px;
  text-align: left;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
  letter-spacing: 5px;
  font-family: 'Noto Serif', serif;
}

@media (max-width: 700px) {

  .details h3 {
    padding: 20px;
    padding-left: 50px;
    width: 70%;
    margin: 20px 0px;
  }

}

.details table {
  margin: 50px;
  width: 80%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.details table td {
  padding: 15px;
  padding-bottom: 30px;
  vertical-align: top;
}

.time {
  font-weight: bold;
  width: 20%;
}

.info {
  width: 70%;
}

.info h4 {
  margin-top: 0px;
}

.location {
  font-style: italic;
  font-weight: lighter;
}

.icon {
  width: 100px;
}

.icon img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/*  TABLE MOBILE STYLES*/

@media (max-width: 700px) {

  .details table {
    margin: 0px;
    width: 90%;
    font-size: 18px;
  }

  .details table tr {
    display: flex;
    flex-direction: column;
  }

  .details table td {
    padding: 15px;
    padding-bottom: 0px;
    vertical-align: top;
  }

  .time {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
  }

  .info {
    width: 100%;
  }

  .info h4 {
    margin-top: 0px;
  }

  .info p {
    margin-bottom: 20px;
  }

  .info p:last-child {
    margin-bottom: 100px;
  }

  .location {
    font-style: italic;
    font-weight: lighter;
  }

  .icon {
    width: 200px;
    order: -1;
    margin: 0 auto;
  }

  .icon img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

}

/*  END TABLE MOBILE STYLES*/


.standard-block {
  display: flex;
  width: 90%;
  margin-left: 0px;
  align-items: center;
}

.standard-block h4 {
  padding-left: 60px;
  margin: 20px 0px;
  margin-top: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Noto Serif', serif;
  }

.standard-block p, ol {
  max-width: 700px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 20px 80px;
}

.standard-block li {
  margin: 10px 40px;
}

.standard-block img {
  width: 300px;
  border: 5px solid white;
  border-radius: 4px;
  box-shadow: 3px 3px lightgray;
  margin-top: 20px;
}


/* STANDARD BLOCK MOBILE STYLES*/

@media (max-width: 700px) {

  .standard-block {
    display: flex;
    width: 100%;
    margin-left: 0px;
    align-items: center;
  }

  .standard-block h4 {
    padding-left: 20px;
    margin: 20px 0px;
    margin-top: 40px;
    text-align: left;
    }

  .standard-block p, ol {
    max-width: 700px;
    margin: 20px 30px;
  }

  .standard-block li {
    margin: 10px 10px;
  }

  .standard-block img {
    display: none;
  }

}

/*  END STANDARD BLOCK MOBILE STYLES */

.registration p a {
  color: #8f7878;
}

.venue span {
  display: block;
  margin-left: 20px;
}

.orgs {
  background-color: #293134;
  color: white;
}

.orgs h2 {
  text-align: center;
  padding: 50px;
  padding-top: 75px;
  font-size: 48px;
  color: white;
}

.orgs-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.org {
  width: 25%;
  text-align: center;
  margin: 0px auto 50px;
  font-size: 18px;
}

@media (max-width: 950px) {
  .org {
    width: 33%;
    text-align: center;
    margin: 0px auto 50px;
    font-size: 18px;
  }
}

.org img.logo {
  border-radius: 100%;
  border: solid 2px white;
  width: 200px;
  height: 200px;
}

.orgs .cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

/*  ORGS MOBILE STYLES */

@media (max-width: 700px) {

  .orgs h2 {
    text-align: center;
    padding: 20px;
    padding-top: 75px;
    font-size: 40px;
  }

  .orgs-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .org {
    width: 100%;
    text-align: center;
    margin: 0px auto 0px;
    font-size: 18px;
  }

  .org img.logo {
    border-radius: 100%;
    border: solid 2px white;
    width: 200px;
  }

  .org h5 {
    margin-top: 5px;
    margin-bottom: 80px;
  }

  .orgs .cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

}

/*  END ORGS MOBILE STYLES  */
